@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.mainheader{
    background-color: #504908;
    color: #FFFFFF;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 70px;
    font-size: 16px;
}

.navBarHeader{
    list-style: none;
    display: flex;
    gap: 40px;
}